<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Verzonden</title>
</head>
<body>

    <h3>Je pagina is verzonden!</h3>
    <p>Bedankt voor het invullen van de pagina, <%- data.naam %>!</p>

    <div>
        <h3>Jouw antwoorden:</h3>
        <h4>Hoe moeilijk vond je het vak?</h4>
        <p><%- data['1-moeilijk'] %></p>
       
    </div>

</body>
</html>